<p class="subtitle">Uma linguagem de programação dinâmica, de código aberto, com um foco na simplicidade e produtividade. Ela tem uma sintaxe elegante que é natural de ler e fácil de escrever.</p>
<ul class="nav">
  <li><a class="download button" id='download' href="/downloads.html">Download o <strong>Ruby 1.9.2</strong></a><li>
  <li><a class="learn" href="/downloads.html">Aprenda mais &raquo;</a>
</ul>
<div id="code">
  <div class="comment"># Ruby sabe o que você</div>
  <div class="comment"># quer dizer, mesmo que você</div>
  <div class="comment"># queira realizar matemática</div>
  <div class="comment"># em um Array inteiro</div>
  <div>cities&nbsp;&nbsp;<span class="op">=</span> <span class="string">%w[ Londres</span></div>
  <div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="string">Oslo</span></div>
  <div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="string">Paris</span></div>
  <div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="string">Amsterdam</span></div>
  <div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="string">Berlin ]</span></div>
  <div>visited <span class="op">=</span> <span class="string">%w[Berlin Oslo]</span></div>
  <div class="blank-line">&nbsp;</div>
  <div>puts <span class="string">"Eu ainda preciso "</span> <span class="op">+</span></div>
  <div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="string">"visitar as "</span> <span class="op">+</span></div>
  <div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="string">"seguintes cidades:"</span><span class="op">,</span></div>
  <div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;cities <span class="op">-</span> visited</div>
</div>
